<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.cnlcnn.wallpaper">

    <uses-sdk
        tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest"
        />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- APP 配置各个平台的appkey-->
    <application
        android:name="com.example.cnlcnn.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--QQ-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106112473"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--WX-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--Sina-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <!--这是使用新浪完整版需要的配置，也是新浪原生SDK的编译缺陷，不影响正常使用。-->
        <!--新浪精简版不需要该条配置-->
        <!--<service android:name="com.sina.weibo.sdk.net.DownloadService"-->
                 <!--android:exported="false"></service>-->

        <!--添加友盟appkey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng">
        </meta-data>

        <!--启动界面-->
        <activity
            android:name="com.example.cnlcnn.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--单张图片界面-->
        <activity android:name="com.example.cnlcnn.picture.NetPictureSetActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--点击类型界面进人的对应类型界面-->

        <!--点击进人的对应本地图库界面-->
        <activity android:name="com.example.cnlcnn.localPictures.LocalPicturesActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--点击进人的对应本地图库的操作-->
        <activity android:name="com.example.cnlcnn.localPictures.LocalPictureSetActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--点击进人的对应我的下载的操作-->
        <activity android:name="com.example.cnlcnn.download.LocalDownloadActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--点击进人的对应关于我们的操作-->
        <activity android:name="com.example.cnlcnn.aboutUs.AboutUsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--点击类型界面进人的对应类型界面-->
        <activity android:name="com.example.cnlcnn.category.CategoryActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--点击类型界面进人的每日详情界面-->
        <activity android:name="com.example.cnlcnn.everyday.EverydayActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>